html,body{
    
    background-image:url("back1.png") ;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  
  
  /* Clear floats after the columns */
  img:after {
  content: "";
  display: table;
  clear: both;
  }
  body>div>p{
    color: rgb(162, 153, 136);
    padding: 14px 8px 0px;
    margin: 0% 2% 2% 2%;
    width:auto;
    text-align: center;
    font-size: 2em;
    
  }
  
  body>div>article>a>img{
    height: 200px;
    width: 200px;
    margin: 0% 2% 2% 2%;
    transition: width 2s;
    transition: height 2s;
    float: left;
    border-radius: 10px;
  
    
  }
  body>div>article>a>img:hover{
    height: 250px;
    width: 250px;
  }
  

  
  body>div>article>p{
    font-size: 1.25em;
    margin:20px;
    text-shadow: 2px 2px 8px ;
    
    
  }
  
  
  