body {
    background-color:black;
    font-family: 'Montserrat';
    padding: 0;
}

#v0 {
    position: fixed;
    bottom: 10%;
    left: 20%;
    width: 60%;
    transition: all 1s;
}

@media only screen and (max-width: 600px) {
  #v0 {
    position: fixed;
    margin: auto;
    left: 0;
    width: 100%;
    transition: all 1s;
}
}



.hide {
  opacity:0;
  left:-100%;
}
.show {
  opacity:1;
  left:0;
}
.hide1 {
  display: none;
}
.show1 {
  opacity:1;
}

#set-height {
    display: block;
}

section {
    z-index: 1;
    position: relative;
}

.content {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 33.3%;
}


h1 {
  font-size: 3em;
  color: white;
  text-align: center;

}
p { 
  font-size: 1.5em;
  color: white;
  text-align: center;
}

section:nth-of-type(1) {
    height: 1200px;
}
section:nth-of-type(2) {
    height: 1200px;
}
section:nth-of-type(3) {
    height: 1200px;
}
section:nth-of-type(4) {
    height: 1200px;
}
section:nth-of-type(5) {
    height: 1200px;
   
}



.entered {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  .footer {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    z-index: 3;
  }
  
  .tbe{
    background-color: black;
    color: navy;
    padding: 15px;
    border:  3px solid rgb(31, 30, 30);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    list-style-type: none;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 1%;
    width: 100%;
    height: 110px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 900px;
    z-index: 3;
  }
  .tbe a{
    color: white;
    text-decoration: none;
    
  }
  .tbe a:hover   {
    display:block;
    color: rgb(241, 219, 12);/*crimson*/
    
   }

  .cta {
    display: none
    }
  
#block1{
  margin: 20px;
  transition: all 1s;
  z-index: 3;
}
.sticky1 {
  position: fixed;
  top: 23%;
  left: 5%;
  min-width: 60px;
}
